name: Deploy to Firebase Logic

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Prepare Firebase Functions
        run: |
          cd functions
          python3 -m venv venv
          ./venv/bin/pip install --upgrade pip
          ./venv/bin/pip install firebase-functions>=0.5.0 firebase-admin
          ./venv/bin/pip install -r requirements.txt
          cd ..

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Create SA Key
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_JUSTLAWAI }}' > service-account.json

      - name: Deploy to Firebase
        run: firebase deploy --only functions --project justlawai --debug
        env:
          GOOGLE_APPLICATION_CREDENTIALS: service-account.json
