name: Deploy to Firebase Logic

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Backend Dependencies
        run: |
          cd functions
          pip install -r requirements.txt

      - name: Deploy to Firebase
        uses: firebase/firebase-tools-actions@v0
        with:
          args: deploy --only functions
        env:
          FIREBASE_SERVICE_ACCOUNT_JUSTLAWAI: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JUSTLAWAI }}
          PROJECT_ID: justlawai
